* {
  background-color: rgb(54, 51, 52);
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  min-height: 100vh;
}
.column * {
  
  margin: 7px;
}


.column {
  
  min-height: 100vh;
}

.column-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
 
}
.container{
  background-color: #696667ff;
  min-height: 100vh;
}

.task {
  all: initial;
  background-color: #964f4cff;
  margin: 7px;
  border: 2px solid white ;
  /* border-radius: 1rem; */
  width: 200px;
  display: inline-grid;
}
.task * {
  background-color: #964f4cff;
}

.drag-over {
  border: dashed 3px red;
}

.hide {
  display: none;
}

.button{
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border: 2px solid white ;
  
  
}

[name=description]{
  color: white;
  border-top: 2px solid white  ;
  min-height: 5rem;
  padding-top: 1rem;
  /* border-radius: 1rem; */
}

[name=title]{
  font-weight: bold;
}





/* #567572FF */
