* {
  background-color: #696667ff 
  /* rgb(54, 51, 52); */
}

.main {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  
}
.column * {
  margin: 7px;
  background-color: rgb(54, 51, 52);
  
}

.column {
  min-height: 100%;
  flex: 1;
}

.column-name {
  display: flex;
  color: whitesmoke;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
}

.column-name *{
  display: flex;
}


.container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(54, 51, 52);
  min-height: 100vh;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 0px;
  border-top: 2px solid whitesmoke;

}

.task {
  background-color: #964f4cff;
  margin: 7px;
  border: 2px solid rgb(54, 51, 52); 
  border-color: whitesmoke;
  /* border-radius: 1rem; */
  width: 30%;
  /* height: 15rem; */
  display: flex;  
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;

  
}
.task * {
  background-color: #964f4cff;
  display: flex;
  width: 92%;
  color: whitesmoke
  
  /* color: rgb(54, 51, 52); */
}

@media (max-width: 1660px){
  .task{
    width: 43%;
  }
}

@media (max-width: 1000px){
  .container{
    justify-content: space-around;
  }
  .task{
    width: 80%;
  }
}


@media (max-width: 800px) {
  .main{
    display: block;
  }
  .container{
    justify-content: space-around;
    flex-direction: row;
  }
  .task{
    width: 30%;
  }
}
@media (max-width: 600px) {
  .task{
    width: 43%;
  }
}

.hide {
  display: none;
}

.button{
  border: none;
  text-decoration: none;
  font-size: 12px;
  width: fit-content;
  align-self: flex-end;
  
}

[name=add]{
  display: flex;
  color:whitesmoke;
  font-size: 18px;
  /* flex-direction: column; */
  /* align-self:flex-end; */
  /* text-align: right */
  
  
}



[name=description]{
  
  border-top: 2px solid rgb(54, 51, 52);
  border-color: whitesmoke;
  min-height: 5rem;
  padding-top: 1rem;
  white-space: break-spaces;
  overflow-wrap: anywhere;
  flex-direction: column;
 
}

[name=title]{
  min-height: 1rem;
  font-weight: bold;
  white-space: break-spaces;
  overflow-wrap: anywhere;
  flex-direction: column;
}







/* #567572FF */
