* {
  background-color: #696667ff;
}

.tab {
  overflow: hidden;
  display: flex;
  color: whitesmoke;
  margin: 7px 7px 0px 7px;
  border: 2px solid whitesmoke;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(54, 51, 52);
}

/* Style the buttons that are used to open the tab content */

.tab button.active {
  background-color: rgb(70, 65, 67);
}

.tabcontent {
  display: none;
  background-color: rgb(54, 51, 52);
  color: whitesmoke;
  margin: 7px;
  border: 2px solid whitesmoke;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 0px;
  border-top: 2px solid whitesmoke;
}
.tabcontent * {
  background-color: inherit;
  margin: 7px;
}

button {
  background-color: #696667ff;
  border: none;
  color: whitesmoke;
  outline: none;
  cursor: pointer;
  margin: 7px;
}
